# Functions

<blockquote>
Functions are reusable pieces of programs. They allow you to give a name to a block of statements, allowing you to run that block using the specified name anywhere in your program and any number of times. This is known as calling the function. We have already used many built-in functions such as len and range.
   </blockquote>
   
***

    - helps to achieve reusability of code, avoid repetition of code.
    - more organized and modular code.
    

### Types of Functions : 

- **Built-In Functions**

- **User-Defined Functions**



<img src="https://media.giphy.com/media/XdORe0Wi4E1CuXP2Nm/giphy.gif" width="400">

<br>

**Syntax :**

<pre>
def func_name(params):
    """
    Doc string
    """

    statements...

</pre>

## Creating a User Defined Function

In [1]:
# function definition

def greetings(name):
    """This function will greet you."""
    
    print("Good Morning", name)

In [2]:
print(greetings)

<function greetings at 0x10e8b8ca0>

In [3]:
type(greetings)

function

In [4]:
# function calling/invocation
greetings("Mohit")

Good Morning Mohit

In [5]:
greetings("Prateek")

Good Morning Prateek

In [6]:
# doc-string
print(greetings.__doc__)

This function will greet you.

## The return Keyword

    - The return statement is used to exit a function and go back to the place from where it was called.
    
    - return statement can contain an expression which gets evaluated and the value is returned.
    
    - if there is no expression in the statement or the return statement itself is not present inside a function, then the function will return None Object

In [7]:
def add(a, b):
    """it will return sum of 2 numbers"""
    c = a+b
    return c

In [10]:
# it is not printing, it's a return value
add(5,3)

8

In [12]:
# you can receive return value in a variable
my_sum = add(5,4)

print(my_sum)

9

In [13]:
def product(lst):
    """
    paramters: 
    lst : it is a list
    
    return : product of all elements in a list
    """
    
    p = 1
    
    for i in lst:
        p*=i
    
    return p

In [14]:
lst = [5, 3, 2, 4, 1]

In [15]:
res = product(lst)

print(res)

120

In [16]:
lst2 = [3,7,9,10,5]

res2 = product(lst2)

print(res2)

9450

**Note : Function can return multiple values in form of a tuple**

In [25]:
def calculator(a , b):
    """calculates and return basic 4 operations"""
    
    
    return a+b, a-b, a*b, a/b

In [27]:
cal_res = calculator(6, 3)

print(cal_res)

(9, 3, 18, 2.0)

## Scope of a Variable
    - Scope of a variable is the portion of a program where the variable is recognized

***

**Global Variable**
    - Variables that are created outside of a function are known as global variables.
    - Global variables can be used by anywhere in the program (inside or outside of a function)

**Local Variable**
    - variables defined inside a function known as Local Variables. Hence, they have a local scope.
    - Local variables cannot be used outside a function.

In [28]:
age = 24

In [29]:
print(age)

24

In [31]:
print(globals()['age'])

24

In [32]:
# changing age variable
globals()['age'] = 27     # age = 27

In [33]:
print(age)

27

In [34]:
global_var = 100

def test_func():
    local_var = 66
    
    print(global_var)
    print(local_var)
    

test_func()
print(global_var)
print(local_var)

100
66
100

NameError: name 'local_var' is not defined

In [35]:
x = 45


def new_func():
    x = 22
    print(x)
    

new_func()
print(x)

22
45

In [36]:
x = 45

def new_func():
    global x
    x = 22
    print(x)
    

new_func()
print(x)

22
22

## Lambda Function

In [37]:
add = (lambda a,b : a+b)

In [39]:
add(5,4)

9

In [43]:
func = (lambda x,y : x+y if x+y>0 else 0)

In [44]:
func(5, -40)

0

In [45]:
names = [('Prateek', 5), ('Mohit',2), ('Abhi', 6 )]

In [46]:
sorted(names)

[('Abhi', 6), ('Mohit', 2), ('Prateek', 5)]

In [49]:
sorted(names, key = lambda x : x[1])

[('Mohit', 2), ('Prateek', 5), ('Abhi', 6)]

<img src="./images/lambda.jpg" style="height:300px; width:400px;">

## Function Question


**Q-1: Write a Function to find Least Common Multiple LCM of a, b**

In [50]:
def LCM(a, b):
    """returns LCM(a,b)"""
    
    max_num = (a if a>b else b)
    
    while True:
        if( (max_num%a==0) and (max_num%b==0) ):
            return max_num
        else:
            max_num+=1

In [52]:
res = LCM(4, 18)

print(res)

36

In [53]:
res = LCM(4, 16)

print(res)

16

In [54]:
res = LCM(3, 5)

print(res)

15

## Function Arguments Vs Parameters

   - **Arguments Vs. Parameters** 
   
   
<img src="./images/arg_param.png" width=300>   
   
    - positional arguments
    - default arguments
    - arbitary arguments (args)
    - keyword arguments (kwargs)

### Positional Arguments
    - they are required to pass.

In [61]:
def intro(name, nationality):
    print("My name is", name)
    print("I'm", nationality)

In [62]:
intro("Mohit", "Indian")

My name is Mohit
I'm Indian

In [63]:
intro("John", "American")

My name is John
I'm American

In [64]:
intro("Mohit")

TypeError: intro() missing 1 required positional argument: 'nationality'

In [65]:
# wrong ordering 
intro("Indian", "Mohit")

My name is Indian
I'm Mohit

### Default arguments
    - parameters that have some default values. They're optional parameters.
    - default parameters always comes after positional parameters.

In [66]:
def intro(name, nationality = 'Indian'):
    print("My name is", name)
    print("I'm", nationality)

In [67]:
# works without giving nationality
intro("Mohit")

My name is Mohit
I'm Indian

In [68]:
# default nationality changed to american
intro("John", "American")

My name is John
I'm American

In [72]:
# Positional arguments followed by default arguments
def test(a,b,c,d=0):
    pass

### Arbitary arguments ( *args)
    - it can receive any number of arguments and stores them in a tuple

<img src="https://media.giphy.com/media/3o72F8t9TDi2xVnxOE/giphy.gif">

In [84]:
def args_func( *args ):
    print(args)
    print(type(args))
    
    for i in args:
        print(i*2)

In [86]:
args_func(4,6,8, "Mohit", True)

(4, 6, 8, 'Mohit', True)
<class 'tuple'>
8
12
16
MohitMohit
2

### Keyword arguments ( **kwargs )
    - it also takes any number of arguments and stores in form of dictionary.
    - parameter name is mandatory while calling function

In [93]:
def introduction( **kwargs ):
    print(kwargs)
    print(type(kwargs))
    
    for k,v in kwargs.items():
        print(k, ":", v)

In [95]:
introduction(name="Mohit" , age = 24, hobby = ["singing", 'coding'] ,nationality = 'Indian')

{'name': 'Mohit', 'age': 24, 'hobby': ['singing', 'coding'], 'nationality': 'Indian'}
<class 'dict'>
name : Mohit
age : 24
hobby : ['singing', 'coding']
nationality : Indian

In [96]:
introduction(name='Prateek', age= 27, company = "Google" )

{'name': 'Prateek', 'age': 27, 'company': 'Google'}
<class 'dict'>
name : Prateek
age : 27
company : Google

In [97]:
def combination(a,b,c, age = 18, *args, **kwargs):
    print(a,b,c,age)
    print(args)
    print(kwargs)

In [99]:
combination(100,200, 300, 400, 500, 600, x= 78, y = 99, z = 0.0)

100 200 300 400
(500, 600)
{'x': 78, 'y': 99, 'z': 0.0}

<img src="https://media.giphy.com/media/jsN192JGdyWvS1gqTb/giphy.gif" width=400>

# Built-Ins Functions
- `print()`
- `abs()`
- `round()`
- `all()`
- `any()`
- `dir()`
- `enumerate()`
- Aggregation functions : `sum(), max(), min()`
- `filter()`
- `map()`
- `reduce()`

<img src="https://media.giphy.com/media/dWy2WwcB3wvX8QA1Iu/giphy.gif" width=400>

In [102]:
abs(-1.1)

1.1

In [107]:
round(78.97678565, 3 )

78.977

`all()` returns
    
    - True: if all elements in an iterable are true

    - False: if any element in an iterable is false

In [108]:
lst = [1,2,3,4]
all(lst)

True

In [109]:
tup = (0,2,3,4) # 0 is present

all(tup)

False

In [112]:
lst = [False, 1, 2] 
all(lst)

False

In [113]:
lst = []

all(lst)

True

`any()` returns
    
    - True: if any of the element in an iterable is true

    - False: otherwise

In [114]:
lst = [1,2,3,4]
any(lst)

True

In [117]:
lst = [False, 0, -1]
any(lst)

True

In [120]:
lst = []        # empty list 
any(lst)

False

In [121]:
lst = [0]*5       # all zeros
any(lst)

False

`dir()`
    - displays all the function associated with an object.

In [123]:
lst = [1,2,3,4]

In [125]:
print( dir(lst) )

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

`enumerate()`
    - enumerate() method adds a counter to an iterable and returns it in a form of enumerate object.

In [126]:
fruits = ['apple', 'mango', 'banana', 'grapes']

In [129]:
for idx, ele in enumerate(fruits, 10):
    print(idx, ele)

10 apple
11 mango
12 banana
13 grapes

**Aggregation Functions**

In [131]:
lst = [3,6,8,2,5,1,0]

In [132]:
sum(lst)

25

In [133]:
max(lst)

8

In [134]:
min(lst)

0

In [137]:
round(sum(lst)/len(lst), 1)

3.6

**Map**
    - Map applies a function to all the items of an iterable.

In [138]:
def add_one(x):
    return x+1

In [139]:
add_one(100)

101

In [140]:
print(lst)

[3, 6, 8, 2, 5, 1, 0]

In [141]:
new_lst = []
for i in lst:
    new_lst.append(i+1)
    
print(new_lst)

[4, 7, 9, 3, 6, 2, 1]

In [144]:
map_ele = map(add_one, lst)
print(map_ele)

<map object at 0x1112165e0>

In [145]:
list(map_ele)

[4, 7, 9, 3, 6, 2, 1]

In [147]:
list( map(lambda x: x+1, lst) )

[4, 7, 9, 3, 6, 2, 1]

**Filter**
    - The filter() method constructs an iterator from elements of an iterable for which a function returns true.

In [148]:
print(lst)

[3, 6, 8, 2, 5, 1, 0]

In [149]:
new_lst = []

for i in lst:
    if i%2==0:
        new_lst.append(i)
print(new_lst)

[6, 8, 2, 0]

In [150]:
def is_even(x):
    return x%2==0

In [153]:
filter_ele = filter(is_even, lst)
print(filter_ele)

<filter object at 0x111043880>

In [154]:
list(filter_ele)

[6, 8, 2, 0]

In [156]:
list( filter(lambda x: x%2==0, lst) )

[6, 8, 2, 0]

**Reduce**

    - reduce() function is for performing some computation on a list and returning the result. 
    - It applies a rolling computation to sequential pairs of values in a list.

In [157]:
# product of elements in a list

lst = [1,2,3,4,5]

# traditional way without reduce
product = 1
for num in lst:
    product *= num
    
print(product)

120

In [159]:
from functools import reduce

In [161]:
def multiply(x, y):
    return x*y

In [162]:
multiply(5,4)

20

In [164]:
product = reduce(multiply, lst)

print(product)

120

In [165]:
reduce(lambda x,y : x*y, lst)

120