# Set
    - contains only unique elements
    - mutable
    - unordered
    - non-indexable

In [2]:
s = set()

In [3]:
type(s)

set

In [4]:
# create some elements in a set
my_set = {9,7,7,1,8,9,7,5,1}

In [5]:
# no duplicate elements
print(my_set)

{1, 5, 7, 8, 9}

In [6]:
type(my_set)

set

In [7]:
# adding elements to set
my_set.add(11)

In [8]:
print(my_set)

{1, 5, 7, 8, 9, 11}

In [11]:
# same element is being added again.
# it will have no effect.
my_set.add(11)
my_set.add(11)
my_set.add(11)
my_set.add(11)

In [12]:
print(my_set)

{1, 5, 7, 8, 9, 11}

In [13]:
# remove elements from set

my_set.remove(8)

print(my_set)

{1, 5, 7, 9, 11}

In [14]:
# if element is not present in set.--> KeyError
my_set.remove(6)

KeyError: 6

In [18]:
# if element is not present in set. It will do nothing.
my_set.discard(6)

In [19]:
print(my_set)

{1, 5, 7, 9, 11}

In [20]:
# non-indexable.
print( my_set[1] )

TypeError: 'set' object is not subscriptable

In [21]:
# add multiple elements in a set---> update()

my_set.update([10,11,12])

In [22]:
print(my_set)

{1, 5, 7, 9, 10, 11, 12}

## Set Operations
    - set union
    - set intersection
    - set difference
    - symmetric difference

In [23]:
s1 = {1, 3, 4, 5, 8}
s2 = {4, 5, 6, 7, 1, 9}

In [24]:
s1.union(s2)

{1, 3, 4, 5, 6, 7, 8, 9}

In [25]:
s1 | s2

{1, 3, 4, 5, 6, 7, 8, 9}

In [26]:
s1.intersection(s2)

{1, 4, 5}

In [27]:
s1 & s2

{1, 4, 5}

In [28]:
s1 - s2

{3, 8}

In [29]:
s1.difference(s2)

{3, 8}

#### symmetric difference 
    - elements that are in exactly one set

In [30]:
s1.symmetric_difference(s2)

{3, 6, 7, 8, 9}

In [31]:
(s1 | s2) - (s1 & s2)

{3, 6, 7, 8, 9}

## Remove Duplicate Numbers from a list

In [32]:
some_list = [6,3,7,6,4,1,0,9,2,1,0,8,6,4,7]

In [33]:
print(some_list)

[6, 3, 7, 6, 4, 1, 0, 9, 2, 1, 0, 8, 6, 4, 7]

In [15]:
some_list

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [35]:
my_new_set = set(some_list)

In [36]:
print(my_new_set)

{0, 1, 2, 3, 4, 6, 7, 8, 9}

In [37]:
some_list = list(my_new_set)

In [38]:
print(some_list)

[0, 1, 2, 3, 4, 6, 7, 8, 9]

#### Membership operator

In [40]:
7 in {2,4,5,7,1,6,3,10}

True

In [42]:
8 in {2,4,5,7,1,6,3,10}

False