# Tuples
    - similar to lists ( but read-only )
    - ordered,  collections of items
    - indexable
    - immutable

In [7]:
# creating empty tuple

t = ()
t = tuple()

In [8]:
type(t)

tuple

In [9]:
# Heterogenous elements
tup = (8, 9, "Hello", 88)

In [10]:
print(tup)

(8, 9, 'Hello', 88)

In [11]:
type(tup)

tuple

In [12]:
# for one element : only parenthesis is not enough
t = ('mohit')

In [13]:
type(t)

str

In [14]:
# for one element : comma is mandatory
t = ('mohit',)

In [15]:
type(t)

tuple

In [16]:
t = 'mohit',

In [17]:
type(t)

tuple

## Access elements in tuples

In [18]:
print(tup)

(8, 9, 'Hello', 88)

In [20]:
print( tup[0] )
print( tup[-1] )

8
88

In [21]:
# get all elements except the last one
print( tup[:-1])

(8, 9, 'Hello')

In [22]:
print( tup[:])

(8, 9, 'Hello', 88)

### Changing a Tuple

In [24]:
# typeError . This is not possible? bcoz of immutability
tup[0] = 80

TypeError: 'tuple' object does not support item assignment

In [29]:
lst = ['mohit', 'prateek', 'rohit']

tup = (20, 30, lst, (1, 2, 3), 104.0)

In [30]:
print(tup)

(20, 30, ['mohit', 'prateek', 'rohit'], (1, 2, 3), 104.0)

In [33]:
tup[2][2] = "jatin"

In [34]:
print(tup)

(20, 30, ['mohit', 'prateek', 'jatin'], (1, 2, 3), 104.0)

<img src="./images/tuples.jpg" width=400>

## Tuples Operations

In [36]:
for ele in tup:
    print(ele*2)

40
60
['mohit', 'prateek', 'jatin', 'mohit', 'prateek', 'jatin']
(1, 2, 3, 1, 2, 3)
208.0

### Concatinating tuples

In [37]:
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [41]:
(0,)*10

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

### Tuple Deletion

In [42]:
# we cannot change/delete an elements in a tuple. 
# But we can delete entire tuple using del keyword

t = (1,2,3,4,5,6)

#delete entire tuple
del t


print(t)

NameError: name 't' is not defined

### Tuple Index

In [43]:
t = (1,2,3,1,3,3,4,1)

print(t)

(1, 2, 3, 1, 3, 3, 4, 1)

In [44]:
print( t.index(3) ) # returns index of the first occurence of element

2

In [45]:
print( t.count(3) )

3

### Tuple Membership

In [46]:
# test if an item exists in a tuple or not, using the keyword 'in'.
9 in t

False

In [47]:
1 in t

True

### Tuple Unpacking

In [48]:
t = (4,2,1)

In [49]:
a = t[0]
b = t[1]
c = t[2]

In [50]:
print(a, b, c)

4 2 1

In [51]:
a, b, c = t

In [52]:
print(a,b,c)

4 2 1

In [55]:
print(*t)

4 2 1